* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  background-color: rgb(232, 232, 232);
}

.container {
  width: 80%;
  margin: auto;
}

header {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 4em;
}

/* Headings */
#main-heading {
  font-size: 40px;
}

#main-sub-heading {
  color: rgb(194, 194, 194);
  font-size: 17px;
}

/* Add Button */
#add-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1em;
  border: none;
  border-radius: 4px;
  width: 8em;
  color: white;
  background-color: rgb(0, 136, 255);
}

#plus-icon {
  font-size: 17px;
  margin-right: 7px;
}

/* Todo List Items */
.todo-item {
  color: black;
  list-style: none;
  margin-top: 1em;
  margin-bottom: 1em;
  background: white;
  border: solid 1px rgb(194, 194, 194);
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 1em;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item span {
  margin-right: 1em;
}

.todo-item p {
  width: 40%;
}

.fa-calendar-alt {
  color: rgb(194, 194, 194)
}

.fa-times {
  color: rgb(255, 101, 101);
}

.date {
  color: rgb(194, 194, 194);
}



/* Todo Input */
#todo-form {
  margin-top: 1em;
  margin-right: 4.5em;
  height: 3em;
  width: 75%;
  padding-left: 1em;
}

/* Date Picker */
#calender {
  width: 100px;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.5rem !important;
}